.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 800px) {
    margin-bottom: 50px;
    padding: 4.5vw;
  }
  title {
    margin: 10px;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}
